<!DOCTYPE html>
<html>
    <head>
        <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
        <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
        <META HTTP-EQUIV="Expires" CONTENT="0">
        <meta charset="UTF-8">
        <meta name="format-detection" content="telephone=no"/>
        <meta name="format-detection" content="email=no"/>
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0" name="viewport">
        <title>多人聊天室</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}" />
        <!-- 聊天用的 -->
        <script src="{{url_for('static', filename='js/socketio/socket.io-client/socket.io.js')}}" charset="UTF-8"></script>


        <script  type="text/javascript" src="{{url_for('static', filename='js/jquery-1.12.0.min.js')}}" charset="UTF-8" ></script>

        <!-- 录音用的 -->
        <!--<script src="{{url_for('static', filename='js/recorderjs/recorder.js')}}"></script>
        <script src="{{url_for('static', filename='js/my_recorder.js')}}"></script>
        -->
        <script src="{{url_for('static', filename='js/my_recordmp3.js')}}"  charset="UTF-8"></script>
        <script src="{{url_for('static', filename='js/userlist.js')}}"></script>
        <script type="text/javascript" charset="UTF-8">
/*            var socket = io.connect('http://' + document.domain + ':' + location.port + '/chat');

            //告诉服务器端有用户登录
            socket.on('foo', function() {
                //this.socket.emit('login', {userid:this.userid, username:this.username,room:this.room});
                socket.emit('login', {});
                alert('foo');
            });*/
        </script>


    </head>

    <body onunload="CHAT.close();">
         <div id="loginbox">
            <div style="width:260px;margin:200px auto;">
                请先输入你在聊天室的昵称
                <br/>
                <br/>
                <input type="text" style="width:180px;" placeholder="请输入用户名" id="username" name="username" value={{user.username}} >
                <input type="text" style="width:180px;" placeholder="请输入昵称" id="nickname" name="nickname"  value={{user.nickname}} >
                <input type="text" style="width:180px;" placeholder="请输入uid" id="uid" name="uid"  value={{user.uid}} >
                <input type="text" style="width:180px;" placeholder="请输入房间名" id="room" name="room"  value={{user.room}} >

<!--                 <input type="text" style="width:180px;" placeholder="请输入用户名" id="username" name="username"/>
                <input type="text" style="width:180px;" placeholder="请输入房间名" id="room" name="room" /> -->

				<input type="button" style="width:50px;" value="提交" onclick="CHAT.usernameSubmit();" >

            </div>
        </div>

        <div id="chatbox" style="display:none;">
            <div style="background:#3d3d3d;height: 28px; width: 100%;font-size:12px;">
                <div style="line-height: 28px;color:#fff;">
                    <span style="text-align:left;margin-left:10px;">主题:{{user.room}}</span>
                    <span style="float:right; margin-right:10px;"><span id="showusername"></span> | 
                    <a href="javascript:;" onclick="CHAT.logout()" style="color:#fff;">退出</a></span>
                </div>
            </div>
            <div id="doc">
                <div id="chat">
                    <div id="message" class="message">
                        <div id="onlinecount" style="background:#EFEFF4; font-size:12px; margin-top:10px; margin-left:10px; color:#666;">
                        </div>
                    </div>
                    <div class="input-box">
                        <div class="input">
                        <input type="text" maxlength="140" placeholder="请输入聊天内容，按Ctrl提交" id="content" name="content">
                        </div>
                        <div class="action" id = "controls">
                            <img id="record" src="{{url_for('static', filename='img/mic128.png')}}" onclick="toggleRecording(this);" class>
                            <button type="button" id="mjr_send" onclick="CHAT.submit();">提交</button>
                        </div>
                        
                    </div>
                </div>
            </div>
             <div id="menu">
                <h2>用户列表</h2>
                {% if user.uid == 0 %}
                <div class="control-box">
                    <img class = "user_control" id="user_ban" title = "禁言" src="{{url_for('static', filename='img/ban.png')}}" onclick="USERLIST.change_silenced()">
                    <img class = "user_control" id="user_em" title = "加粗" src="{{url_for('static', filename='img/B.png')}}" onclick="">
                </div>
                {% else %}
                {% endif %}
                <br />
                <br />
                <br />
                <div id="user_list">
                    <menu>
<!--                     <li usrname="张三" uid = 0 onclick="USERLIST.clicked(this)">张三</li>
                    <li usrname="李四" uid = 1 onclick="USERLIST.clicked(this)">李四</li>
                    <li usrname="王五" uid = 2 onclick="USERLIST.clicked(this)">王五</li> -->
                    </menu>
                </div>
            </div>
        </div>   



        
    </body>
    <!-- 聊天用的逻辑 -->
    <script type="text/javascript" src="{{url_for('static', filename='js/client.js')}}" charset="UTF-8"></script>
    <script type="text/javascript">
     window.onload=function(){
        //window.document.test.submit();
        //alert("haha");
        console.log("window onload");
        //alert(d.getElementById("username").value);

        //USERLIST.build_dict_local();//建立用户列表

        var username = document.getElementById("username").value;
        var nickname = document.getElementById("nickname").value;
        var uid = document.getElementById("uid").value;
        var room = document.getElementById("room").value;
        CHAT.build(nickname,uid,room);
        return;
     }
     </script>

</html>
